@import "tailwindcss";

:root {
--white: #FFFFFF;
--dark-primary:#2A254B;
--primary:#4E4D93;
--light-grey:#F9F9F9;
--border-grey:#EBE8F4;
--border-dark:#CAC6DA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--white);
  }
}*/

body {
  background: var(--white);
  color: var(--dark-primary);
  font-family: Inter,  sans-serif;
}
